.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.new-expense__control label {
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    margin: 0.5rem 0;
}

.new-expense__control input {
    font: inherit;
    outline: none;
    width: 15rem;
    border: 2px solid var(--font-color);
    border-radius: 10px;
    max-width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.new-expense__btns {
    margin: auto;
    margin-top: 0.5rem;
}

.new-expense button {
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid var(--borderBtn-color);
    color: var(--font-color);
    border-radius: 5px;
    margin: 0 0.5rem;
    padding: 0.75rem 1rem;
    transition: 0.4s ease;
}

.new-expense button:hover {
    border-color: #fe464e;
    background-color: #fe464e;
    color: #fff;
}