.new-expense {
    margin: 1rem auto;
    width: 50rem;
    max-width: 95%;
    padding: 1rem;
    background-color: #fff;
    color: #263751;
    border: 1px solid #263751;
    border-radius: 10px;
    text-align: center;
}